src/main/webapp/wsdl/coletas.wsdl

<definitions
	targetNamespace="http://edi.totalexpress.com.br/soap/webservice_v24.total"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://edi.totalexpress.com.br/soap/webservice_v24.total"
	xmlns:SOAPENC="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:xsi="http://www.w3.org/2001/XMLSchemainstance"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:SOAPENV="http://schemas.xmlsoap.org/soap/envelope/">


	
	<types>
 

		
		<xsd:schema
			targetNamespace="http://edi.totalexpress.com.br/soap/webservice_v24.total">

			<xsd:import
				namespace="http://schemas.xmlsoap.org/soap/encoding/" />

			<xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />


			
			<xsd:complexType name="ObterTracking">


				
				<xsd:all>

					<xsd:element name="ObterTrackingRequest" minOccurs="1"
						type="tns:ObterTrackingRequest" />

				</xsd:all>

			</xsd:complexType>


			
			<xsd:complexType name="ObterTrackingRequest">


				
				<xsd:all>

					<xsd:element name="DataConsulta" minOccurs="0"
						type="xsd:date" maxOccurs="1" />

				</xsd:all>

			</xsd:complexType>


			
			<xsd:complexType name="ObterTrackingResponse">


				
				<xsd:all>

					<xsd:element name="CodigoProc" minOccurs="1"
						type="xsd:nonNegativeInteger" />

					<xsd:element name="ArrayLoteRetorno" minOccurs="1"
						type="tns:ArrayLoteRetorno" />

				</xsd:all>

			</xsd:complexType>


			
			<xsd:complexType name="ArrayLoteRetorno">


				
				<xsd:complexContent>


					
					<xsd:restriction base="SOAPENC:Array">

						<xsd:attribute wsdl:arrayType="tns:LoteRetorno[]"
							ref="SOAPENC:arrayType" />

					</xsd:restriction>

				</xsd:complexContent>

			</xsd:complexType>


			
			<xsd:complexType name="LoteRetorno">


				
				<xsd:all>

					<xsd:element name="CodRetorno" minOccurs="1"
						type="xsd:nonNegativeInteger" maxOccurs="1" />

					<xsd:element name="DataGeracao" minOccurs="1"
						type="xsd:date" maxOccurs="1" />

					<xsd:element name="ArrayEncomendaRetorno" minOccurs="1"
						type="tns:ArrayEncomendaRetorno" maxOccurs="1" />

				</xsd:all>

			</xsd:complexType>


			
			<xsd:complexType name="ArrayEncomendaRetorno">


				
				<xsd:complexContent>


					
					<xsd:restriction base="SOAPENC:Array">

						<xsd:attribute
							wsdl:arrayType="tns:EncomendaRetorno[]" ref="SOAPENC:arrayType" />

					</xsd:restriction>

				</xsd:complexContent>

			</xsd:complexType>


			
			<xsd:complexType name="EncomendaRetorno">


				
				<xsd:all>

					<xsd:element name="Awb" minOccurs="1"
						type="xsd:nonNegativeInteger" maxOccurs="1" />

					<xsd:element name="Pedido" minOccurs="1"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="NotaFiscal" minOccurs="1"
						type="xsd:nonNegativeInteger" maxOccurs="1" />

					<xsd:element name="SerieNotaFiscal" minOccurs="1"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="IdCliente" minOccurs="0"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="CodigoObjeto" minOccurs="0"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="ArrayStatusTotal" minOccurs="0"
						type="tns:ArrayStatusTotal" maxOccurs="1" />

					<xsd:element name="ArrayStatusEct" minOccurs="0"
						type="tns:ArrayStatusEct" maxOccurs="1" />

				</xsd:all>

			</xsd:complexType>


			
			<xsd:complexType name="ArrayStatusTotal">


				
				<xsd:complexContent>


					
					<xsd:restriction base="SOAPENC:Array">

						<xsd:attribute wsdl:arrayType="tns:StatusTotal[]"
							ref="SOAPENC:arrayType" />

					</xsd:restriction>

				</xsd:complexContent>

			</xsd:complexType>


			
			<xsd:complexType name="ArrayStatusEct">


				
				<xsd:complexContent>


					
					<xsd:restriction base="SOAPENC:Array">

						<xsd:attribute wsdl:arrayType="tns:StatusEct[]"
							ref="SOAPENC:arrayType" />

					</xsd:restriction>

				</xsd:complexContent>

			</xsd:complexType>


			
			<xsd:complexType name="StatusTotal">


				
				<xsd:all>

					<xsd:element name="CodStatus" minOccurs="1"
						type="xsd:nonNegativeInteger" maxOccurs="1" />

					<xsd:element name="DescStatus" minOccurs="1"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="DataStatus" minOccurs="1"
						type="xsd:dateTime" maxOccurs="1" />

				</xsd:all>

			</xsd:complexType>


			
			<xsd:complexType name="StatusEct">


				
				<xsd:all>

					<xsd:element name="EctTipo" minOccurs="1"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="EctStatus" minOccurs="1"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="EctData" minOccurs="1"
						type="xsd:date" maxOccurs="1" />

					<xsd:element name="EctHora" minOccurs="1"
						type="xsd:time" maxOccurs="1" />

					<xsd:element name="EctDescricao" minOccurs="0"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="EctComentario" minOccurs="0"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="EctLocal" minOccurs="0"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="EctCodigo" minOccurs="0"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="EctCidade" minOccurs="0"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="EctUf" minOccurs="0"
						type="xsd:string" maxOccurs="1" />

				</xsd:all>

			</xsd:complexType>


			
			<xsd:complexType name="RegistraColeta">


				
				<xsd:all>

					<xsd:element name="RegistraColetaRequest" minOccurs="1"
						type="tns:RegistraColetaRequest" />

				</xsd:all>

			</xsd:complexType>


			
			<xsd:complexType name="RegistraColetaRequest">


				
				<xsd:all>

					<xsd:element name="CodRemessa" minOccurs="1"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="Encomendas" minOccurs="1"
						type="tns:Encomendas" />

				</xsd:all>

			</xsd:complexType>


			
			<xsd:complexType name="Encomendas">


				
				<xsd:complexContent>


					
					<xsd:restriction base="SOAPENC:Array">

						<xsd:attribute wsdl:arrayType="tns:Encomenda[]"
							ref="SOAPENC:arrayType" />

					</xsd:restriction>

				</xsd:complexContent>

			</xsd:complexType>


			
			<xsd:complexType name="Encomenda">


				
				<xsd:all>

					<xsd:element name="TipoServico" minOccurs="1"
						type="xsd:nonNegativeInteger" maxOccurs="1" />

					<xsd:element name="TipoEntrega" minOccurs="1"
						type="xsd:nonNegativeInteger" maxOccurs="1" />

					<xsd:element name="Peso" minOccurs="0"
						type="xsd:decimal" maxOccurs="1" />

					<xsd:element name="Volumes" minOccurs="1"
						type="xsd:nonNegativeInteger" maxOccurs="1" />

					<xsd:element name="CondFrete" minOccurs="1"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="Pedido" minOccurs="1"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="IdCliente" minOccurs="0"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="Natureza" minOccurs="1"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="TipoVolumes" minOccurs="0"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="IsencaoIcms" minOccurs="1"
						type="xsd:nonNegativeInteger" maxOccurs="1" />

					<xsd:element name="InfoColeta" minOccurs="0"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="DestNome" minOccurs="1"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="DestCpfCnpj" minOccurs="1"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="DestIe" minOccurs="0"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="DestEnd" minOccurs="1"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="DestEndNum" minOccurs="1"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="DestCompl" minOccurs="0"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="DestPontoRef" minOccurs="0"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="DestBairro" minOccurs="1"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="DestCidade" minOccurs="1"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="DestEstado" minOccurs="1"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="DestPais" minOccurs="0"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="DestCep" minOccurs="1"
						type="xsd:nonNegativeInteger" maxOccurs="1" />

					<xsd:element name="DestEmail" minOccurs="0"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="DestDdd" minOccurs="0"
						type="xsd:nonNegativeInteger" maxOccurs="1" />

					<xsd:element name="DestTelefone1" minOccurs="0"
						type="xsd:nonNegativeInteger" maxOccurs="1" />

					<xsd:element name="DestTelefone2" minOccurs="0"
						type="xsd:nonNegativeInteger" maxOccurs="1" />

					<xsd:element name="DestTelefone3" minOccurs="0"
						type="xsd:nonNegativeInteger" maxOccurs="1" />

					<xsd:element name="Campanha" minOccurs="0"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="Cod" minOccurs="0" type="tns:Cod"
						maxOccurs="1" />

					<xsd:element name="Agendamento" minOccurs="0"
						type="tns:Agendamento" maxOccurs="1" />

					<xsd:element name="DocFiscalNF" minOccurs="0"
						type="tns:DocFiscalNF" maxOccurs="1" />

					<xsd:element name="DocFiscalNFe" minOccurs="0"
						type="tns:DocFiscalNFe" maxOccurs="1" />

					<xsd:element name="DocFiscalO" minOccurs="0"
						type="tns:DocFiscalO" maxOccurs="1" />

					<xsd:element name="CNPJ" minOccurs="0"
						type="xsd:string" maxOccurs="1" />

				</xsd:all>

			</xsd:complexType>


			
			<xsd:complexType name="Cod">


				
				<xsd:all>

					<xsd:element name="FormaPagto" minOccurs="1"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="Parcelas" minOccurs="1"
						type="xsd:nonNegativeInteger" maxOccurs="1" />

					<xsd:element name="Valor" minOccurs="1"
						type="xsd:decimal" maxOccurs="1" />

				</xsd:all>

			</xsd:complexType>


			
			<xsd:complexType name="Agendamento">


				
				<xsd:all>

					<xsd:element name="AgData" minOccurs="1"
						type="xsd:date" maxOccurs="1" />

					<xsd:element name="AgPeriodo1" minOccurs="1"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="AgPeriodo2" minOccurs="0"
						type="xsd:string" maxOccurs="1" />

				</xsd:all>

			</xsd:complexType>


			
			<xsd:complexType name="DocFiscalNF">


				
				<xsd:complexContent>


					
					<xsd:restriction base="SOAPENC:Array">

						<xsd:attribute wsdl:arrayType="tns:NF[]"
							ref="SOAPENC:arrayType" />

					</xsd:restriction>

				</xsd:complexContent>

			</xsd:complexType>


			
			<xsd:complexType name="DocFiscalNFe">


				
				<xsd:complexContent>


					
					<xsd:restriction base="SOAPENC:Array">

						<xsd:attribute wsdl:arrayType="tns:NFe[]"
							ref="SOAPENC:arrayType" />

					</xsd:restriction>

				</xsd:complexContent>

			</xsd:complexType>


			
			<xsd:complexType name="DocFiscalO">


				
				<xsd:complexContent>


					
					<xsd:restriction base="SOAPENC:Array">

						<xsd:attribute
							wsdl:arrayType="tns:DocFiscalOutroTipo[]"
							ref="SOAPENC:arrayType" />

					</xsd:restriction>

				</xsd:complexContent>

			</xsd:complexType>


			
			<xsd:complexType name="NF">


				
				<xsd:all>

					<xsd:element name="NfNumero" minOccurs="1"
						type="xsd:nonNegativeInteger" maxOccurs="1" />

					<xsd:element name="NfSerie" minOccurs="1"
						type="xsd:nonNegativeInteger" maxOccurs="1" />

					<xsd:element name="NfData" minOccurs="1"
						type="xsd:date" maxOccurs="1" />

					<xsd:element name="NfValTotal" minOccurs="1"
						type="xsd:decimal" maxOccurs="1" />

					<xsd:element name="NfValBc" minOccurs="1"
						type="xsd:decimal" maxOccurs="1" />

					<xsd:element name="NfValIcms" minOccurs="1"
						type="xsd:decimal" maxOccurs="1" />

					<xsd:element name="NfValBcSt" minOccurs="1"
						type="xsd:decimal" maxOccurs="1" />

					<xsd:element name="NfValIcmsSt" minOccurs="1"
						type="xsd:decimal" maxOccurs="1" />

					<xsd:element name="NfValProd" minOccurs="1"
						type="xsd:decimal" maxOccurs="1" />

					<xsd:element name="NfCfop" minOccurs="1"
						type="xsd:nonNegativeInteger" maxOccurs="1" />

				</xsd:all>

			</xsd:complexType>


			
			<xsd:complexType name="NFe">


				
				<xsd:all>

					<xsd:element name="NfeNumero" minOccurs="1"
						type="xsd:nonNegativeInteger" maxOccurs="1" />

					<xsd:element name="NfeSerie" minOccurs="1"
						type="xsd:nonNegativeInteger" maxOccurs="1" />

					<xsd:element name="NfeData" minOccurs="1"
						type="xsd:date" maxOccurs="1" />

					<xsd:element name="NfeValTotal" minOccurs="1"
						type="xsd:decimal" maxOccurs="1" />

					<xsd:element name="NfeValProd" minOccurs="1"
						type="xsd:decimal" maxOccurs="1" />

					<xsd:element name="NfeCfop" minOccurs="1"
						type="xsd:nonNegativeInteger" maxOccurs="1" />

					<xsd:element name="NfeChave" minOccurs="1"
						type="xsd:string" maxOccurs="1" />

				</xsd:all>

			</xsd:complexType>


			
			<xsd:complexType name="DocFiscalOutroTipo">


				
				<xsd:all>

					<xsd:element name="NfoTipo" minOccurs="1"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="NfoDescricao" minOccurs="0"
						type="xsd:string" maxOccurs="1" />

					<xsd:element name="NfoNumero" minOccurs="1"
						type="xsd:nonNegativeInteger" maxOccurs="1" />

					<xsd:element name="NfoData" minOccurs="1"
						type="xsd:date" maxOccurs="1" />

					<xsd:element name="NfoValTotal" minOccurs="1"
						type="xsd:decimal" maxOccurs="1" />

					<xsd:element name="NfoValProd" minOccurs="1"
						type="xsd:decimal" maxOccurs="1" />

					<xsd:element name="NfoCfop" minOccurs="1"
						type="xsd:nonNegativeInteger" maxOccurs="1" />

				</xsd:all>

			</xsd:complexType>


			
			<xsd:complexType name="RegistraColetaResponse">


				
				<xsd:all>

					<xsd:element name="CodigoProc" minOccurs="1"
						type="xsd:nonNegativeInteger" />

					<xsd:element name="CodRomaneio" minOccurs="1"
						type="xsd:string" />

					<xsd:element name="ItensProcessados" minOccurs="1"
						type="xsd:nonNegativeInteger" />

					<xsd:element name="ItensRejeitados" minOccurs="1"
						type="xsd:nonNegativeInteger" />

					<xsd:element name="ErrosIndividuais" minOccurs="0"
						type="tns:ErrosIndividuais" />

					<xsd:element name="NumProtocolo" minOccurs="0"
						type="xsd:nonNegativeInteger" />

				</xsd:all>

			</xsd:complexType>


			
			<xsd:complexType name="ErrosIndividuais">


				
				<xsd:complexContent>


					
					<xsd:restriction base="SOAPENC:Array">

						<xsd:attribute wsdl:arrayType="tns:CriticaVolume[]"
							ref="SOAPENC:arrayType" />

					</xsd:restriction>

				</xsd:complexContent>

			</xsd:complexType>


			
			<xsd:complexType name="CriticaVolume">


				
				<xsd:all>

					<xsd:element name="Pedido" minOccurs="0"
						type="xsd:string" />

					<xsd:element name="IdCliente" minOccurs="0"
						type="xsd:string" />

					<xsd:element name="CodigoErro" minOccurs="1"
						type="xsd:nonNegativeInteger" />

					<xsd:element name="DescricaoErro" minOccurs="1"
						type="xsd:string" />

				</xsd:all>

			</xsd:complexType>

			<xsd:element name="RegistraColeta"
				type="tns:RegistraColeta" />

			<xsd:element name="ObterTracking"
				type="tns:ObterTracking" />

		</xsd:schema>

	</types>


	
	<message name="RegistraColetaRequest">

		<part name="RegistraColetaRequest"
			type="tns:RegistraColetaRequest" />

	</message>


	
	<message name="RegistraColetaResponse">

		<part name="RegistraColetaResponse"
			type="tns:RegistraColetaResponse" />

	</message>


	
	<message name="ObterTrackingRequest">

		<part name="ObterTrackingRequest" type="tns:ObterTrackingRequest" />

	</message>


	
	<message name="ObterTrackingResponse">

		<part name="ObterTrackingResponse"
			type="tns:ObterTrackingResponse" />

	</message>


	
	<portType name="webservice_v24.totalPortType">


		
		<operation name="RegistraColeta">

			<documentation>Cadastra uma nova coleta no sistema, através do envio
				das informações dos volumes.</documentation>

			<input message="tns:RegistraColetaRequest" />

			<output message="tns:RegistraColetaResponse" />

		</operation>


		
		<operation name="ObterTracking">

			<documentation>Obtém informações de trânsito das encomendas.
			</documentation>

			<input message="tns:ObterTrackingRequest" />

			<output message="tns:ObterTrackingResponse" />

		</operation>

	</portType>


	
	<binding name="webservice_v24.totalBinding"
		type="tns:webservice_v24.totalPortType">

		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />


		
		<operation name="RegistraColeta">

			<soap:operation style="rpc"
				soapAction="urn:RegistraColeta#RegistraColeta" />


			
			<input>

				<soap:body namespace="urn:RegistraColeta"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					use="encoded" />

			</input>


			
			<output>

				<soap:body namespace="urn:RegistraColeta"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					use="encoded" />

			</output>

		</operation>


		
		<operation name="ObterTracking">

			<soap:operation style="rpc"
				soapAction="urn:ObterTracking#ObterTracking" />


			
			<input>

				<soap:body namespace="urn:ObterTracking"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					use="encoded" />

			</input>


			
			<output>

				<soap:body namespace="urn:ObterTracking"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
					use="encoded" />

			</output>

		</operation>

	</binding>


	
	<service name="webservice_v24.total">


		
		<port name="webservice_v24.totalPort"
			binding="tns:webservice_v24.totalBinding">

			<soap:address
				location="https://edi.totalexpress.com.br:443/webservice24.php" />

		</port>

	</service>

</definitions>